
<span xmlns="http://www.w3.org/1999/html">Chat-Nombre usuario: {{user.username}}</span>
<span><a href="{% url 'logout' %}">(Salir)</a></span>





{% for comentario in object_list %}
<li>{{comentario.mensaje}} - {{comentario.added_by}} - {{comentario.Nombre_sala}} -{{comentario.created_date}}
    {% if user.is_authenticated %}
      {% if user.id == comentario.added_by.id %}
        - <a href="{% url 'UpdateComentario' comentario.pk %}">(Editar)</a>
           <a href="{% url 'BorrarComentario' comentario.pk %}">(Borrar)</a>
      {% endif %}
    {% endif %}

    {{comentario.body}}</li>
    {% endfor%}


